body {
    background-image: linear-gradient(to bottom right,black, grey);
    background-repeat: no-repeat;
    height: 100vh;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-decoration: dotted;
    color: grey;
}
